.doc{
    background-color: rgb(255, 255, 255);
    height: 900vh;
    margin: 2px;
}

.title{
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
}

.pagina{
    margin-left: 60px;
}

.miniresumo{
    flex-direction: column;
    display: flex;
    float: right;
}

.miniperfil{
    height: 550px;
    width: 325px;
    float: right;
    border: solid 1px;
    border-color: #000000;
    border-radius: 3%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub_title{
    color: rgb(0, 0, 0);
    font-family: 'Zen Dots', sans-serif;
    font-weight: auto;
    font-style: normal;
    font-size: 20px;
    width: 400px;
    text-align: justify;
    margin: 0 15px 0 15px;
}

div .fotoperfil{
    height: 300px;
    display: flex;
    border-radius: 10%;
}

.redessociais{
    width: 200px;
    display: flex;
    flex-direction: row;
}

div .redesocial{
    padding: 5px 10px;
    font-size: 40px;
    transition: 1s;
    width: fit-content;
}

.redesocial:hover{
    transform: scale(1.1) translatex(5%);
}

a.linksocial{
    color: rgb(0, 0, 0);
    display: flex;
    width: fit-content;
    height: 70px;
    align-items: center;
    text-decoration: none;
}

span.linksocial{
    margin-left: 20px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    color: #ffffff;
}

.iconsocial{
    color:rgb(0, 0, 0);
    padding: 5px;
    font-size: 50px;
}

.roller{
    display: flex;
    width: 1100px;
    padding: 20px 0 0 0;
    flex-wrap: row;
}

.swipe_mySwiper{
    width: 1100px;
    height: 600px;
    padding: 40px 0;
    display: flex;
    flex-wrap: row;
}

.swiper-wrapper{
    width: 1100px;
    height: 600px;
}

.swiper{
    width: 1000px;
    height: 600px;
}

.swiper-slider{
    font-size: 18px;
    width: 200px;
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 600px;
}

.img{
    width: 500px;
    height: 600px;
    object-fit: cover;
}

.span{
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

swiper-pagination-bullet{
    background: #fff;
    width: 9px;
    height: 9px;
}

.menu-lateral{
    width: 60px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    padding: 10px 0px 0 0;
    box-shadow: 3px 0 0 #000000;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    overflow: hidden;
}

.menu-lateral.expandir{
    width: 200px;
}

.menu-lateral.expandir .txt-link{
    margin-left: 30px;
}

.btn-expandir{
    width: 100%;
    padding-left: 15px;
}

.btn-expandir > i{
    color: #000000;
    font-size: 35px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding-left: 5px;
}

ul li.item-menu{
    transition: .5s;
}

ul li.ativo{
    background-color: #838383;
}

ul li.item-menu:hover{
    transform: scale(1.2);
}

ul li.item-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    padding: 30px 0 30px 10px;
    display: flex;
}

ul li.item-menu a .txt-link{
    margin-left: 55px;
    transition: .5s;
}